* {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100vw;
  height: 65vh;
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: center;
}


.footer {
  width: 100vw;
  height: 10vh;
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 10%;



  z-index: 2;
}

.arrowButton:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
}

.left {
  top: 50%;
  left: 1rem;
}

.right {
  top: 50%;
  right: 1rem;
}

.indicatorContainer {
  position: absolute;
  bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0.5rem;
}

.indicator {
  display: inline-block;
  color: yellow;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.hidden{
    display:none;
}